@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

:root {
    --base: #eeeeee;
    --card-base: #ffffff;
    --brand-color: #d77bba;
    --primary-color: #ff6347;
    --text-color: #333333;
}

body {
    background-color: var(--base, #eeeeee);
    font-family: 'Ubuntu', sans-serif;
    padding-top: 4rem;
    font-size: 1.2rem;
}

body, a, h1 {
    color: var(--text-color);
}

a {
    transition: all 0.2s;
}

a:focus,
a:hover {
    color: var(--brand-color);
}

.app {
    display: flex;
    flex-flow: row wrap;
    max-width: 1200px;
    margin: 0 auto 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.app--nav {
    display: inline-block;
    width: 300px;
}

.app--header h1 {
    font-size: 2rem;
}

.app--nav img {
    width: 100%;
    max-width: 100px;
}

.app--nav p {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0;
    list-style: none;
    padding: 0.5rem;
}

nav li a {
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

nav li a.active:before {
    content: '> ';
}

nav li a.active {
    color: var(--brand-color);
    border-bottom-color: var(--brand-color);
}

.app--content {
    display: inline-block;
    padding-left: 3rem;
    width: calc(100% - 3rem - 300px);
}

ul.card-container {
    margin: 0;
    padding: 0;
}

li.card {
    background-color: var(--card-base, #ffffff);
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

li.card p {
    display: block;
    padding: 0;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0.2rem;
    color: #aaaaaa;
}

li.card a {
    font-size: 1.5rem;
    width: calc(100% - 4rem);
    height: 100%;
    display: block;
    padding: 2rem 2rem;
    text-decoration: none;
}

footer {
    text-align: center;
    width: 100%;
    padding: 2rem 0;
}

.hide-on-desktop {
    display: none !important;
}

.hide-on-mobile {
    display: block !important;
}

@media (max-width: 961px) {
    .hide-on-mobile {
        display: none !important;
    }

    .hide-on-desktop {
        display: block !important;
    }

    body {
        padding-top: 2rem;
    }

    .app {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .app--header h1 {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    .app--header .hide-on-desktop {
        margin-top: 0;
    }

    .app--nav,
    .app--content {
        width: 100%;
    }

    .app--nav {
        text-align: center;
    }

    .app--nav img {
        width: unset;
    }

    .app--content {
        padding-top: 2rem;
        padding-left: 0;
    }

    nav li {
        display: inline;
    }

    nav li a {
        display: inline-block;
    }

    nav li a.active {
        display: inline-block;
    }

    nav li a.active:before {
        content: '';
    }
}

.document-single {
    line-height: 2rem;
}

.document-single h1 {
    line-height: 3rem;
    font-size: 2.5rem;
}

.document-single img {
    font-size: 2.5rem;
    max-width: 100%;
}

.document-single code {
    background-color: white;
    border: 1px dashed var(--brand-color);
    font-family: 'Fira Mono', monospace;
}

.document-single pre {
    background-color: white;
    border: 1px dashed var(--brand-color);
    font-family: 'Fira Mono', monospace;
    padding: 0.5rem;
}

.document-single pre code {
    background-color: unset;
    border: unset;
}

.document-single p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.document-single ul {
    padding-left: 1.2rem;
}

.document-single a:hover {
    background-color: var(--brand-color);
    color: white;
}
